
@{
    ViewBag.Title = "SearchHospital";
}

<html>

<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Script/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body>
    <div>
        <h2> Resultant Hospital</h2>
        <label><a href="/Hospital/Index">Home page</a></label>
    </div>
    <div class="container">
        <table class="table table-bordered" >
            <thead>
                <tr class="active">
                    <td>HospitalId</td>
                    <td>HospitalName</td>
                    <td>City</td>
                    <td>District</td>
                    <td>Country</td>
                    <td>Timing</td>
                    <td>Website</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>HPicture</td>
                    <td>Spicture</td>
                    <td>InnerPicture</td>
                </tr>
            </thead>
            <tbody>
                    <tr class="alert-danger">
                        <td> @Model.Id</td>
                        <td> @Model.name</td>
                        <td> @Model.city</td>
                        <td> @Model.district</td>
                        <td> @Model.country</td>
                        <td> @Model.timing</td>
                        <td> @Model.website</td>
                        <td> @Model.email</td>
                        <td> @Model.phone</td>
                        <td><img src="/images/@Model.HPicture" width="100" height="100" /></td>
                        <td><img src="/images/@Model.SPicture" width="100" height="100" /></td>
                        <td><img src="/images/@Model.IPicture" width="100" height="100" /></td>
                    </tr>
            </tbody>
        </table>

    </div>
</body>

</html>
